<%= link_to 'Create New Tournament', new_event_path %>

<table class="table">

  <tr>
    <th>Name</th>
    <th>Challonge ID</th>
    <th>Starts At</th>
    <th>Ends At</th>
    <th colspan="2">&nbsp;</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.challonge_id %></td>
      <td><%= event.starts_at %></td>
      <td><%= event.ends_at %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure you want to delete this alert?' } %></td>
  <% end %>
</table>
