<h2>Edit Post</h2>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %> - Markdown allowed.
    &mdash; 
    <%= link_to "Intro To Markdown", "http://blastzonestudios.com/tutorial/2015/02/18/intro-markdown/", target: "blank" %>
    <%= f.text_area :body, class: 'form-control', rows: '10' %>
  </div>

  <%= f.submit class: 'btn btn-default' %>
<% end %>


<% content_for :footer do %>
  <script type="text/javascript">
  </script>
<% end %>

